<ul>
    <li>@Html.ActionLink("Home", "Index", "Home", new { Controller = "Home" }, new { id = "HomeMenu" })</li>
    <li>@Html.ActionLink("About", "About", "Home", new { Controller = "Home" }, new { id = "AboutMenu" })</li>
    <li>@Html.ActionLink("Mission", "Mission", "Home", new { Controller = "Home" }, new { id = "MissionMenu" })</li>
    <li>@Html.ActionLink("Contact", "Contact", "Home", new { Controller = "Home"}, new { id = "ContactMenu" })</li>
    <li>@Html.ActionLink("Refer a Friend", "Refer", "Home", new { Controller = "Home" }, new { id = "ReferMenu" })</li>
</ul>